/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HomeRowMod: HomeRowMod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROWMOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
            hold-trigger-on-release;
            quick-tap-ms = <60>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "Base";
            bindings = <
&kp ESCAPE  &kp Q  &kp W        &kp F           &kp P           &kp B    &kp J  &kp L            &kp U            &kp Y        &kp SEMI  &kp BSPC
&kp ESCAPE  &kp A  &mt LCTRL R  &mt LCMD S      &mt LEFT_ALT T  &kp G    &kp M  &mt RIGHT_ALT N  &mt RCMD E       &mt RCTRL I  &kp O     &kp ENTER
&kp TILDE   &kp Z  &kp X        &kp C           &kp D           &kp V    &kp K  &kp H            &kp COMMA        &kp DOT      &kp FSLH  &kp COLON
                                &kp LEFT_SHIFT  &kp TAB         &mo 2    &mo 1  &kp SPACE        &kp RIGHT_SHIFT
            >;
        };

        NUM {
            display-name = "Num";
            bindings = <
&kp EXCLAMATION  &kp CARET          &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp BACKSLASH    &kp PLUS   &kp N7  &kp N8  &kp N9  &kp ASTERISK  &kp BSPC
&trans           &kp DOUBLE_QUOTES  &kp SQT      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE         &kp MINUS  &kp N4  &kp N5  &kp N6  &kp EQUAL     &trans
&trans           &kp GRAVE          &trans       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp AMPS         &kp N0     &kp N1  &kp N2  &kp N3  &kp SLASH     &trans
                                                 &trans                &trans                 &trans           &trans     &trans  &trans
            >;
        };

        NAV {
            display-name = "Nav";
            bindings = <
&kp EXCLAMATION  &kp CARET  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp LS(LEFT_ARROW)  &kp LS(DOWN_ARROW)  &kp LS(UP_ARROW)  &kp LS(RIGHT_ARROW)  &trans  &kp BSPC
&trans           &trans     &trans  &trans    &trans    &trans       &kp LEFT_ARROW      &kp DOWN_ARROW      &kp UP_ARROW      &kp RIGHT_ARROW      &trans  &trans
&trans           &trans     &trans  &trans    &trans    &trans       &trans              &trans              &trans            &trans               &trans  &trans
                                    &trans    &trans    &trans       &trans              &trans              &trans
            >;
        };

        EXTRA {
            display-name = "Extra";
            bindings = <
&to 4   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR_ALL    &kp LS(LEFT_ARROW)  &kp LS(DOWN_ARROW)  &kp LS(UP_ARROW)  &kp LS(RIGHT_ARROW)  &trans       &kp BSPC
&trans  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5            &kp LA(F1)          &kp LA(F2)          &kp LA(F3)        &kp LA(F4)           &kp LA(F5)   &trans
&trans  &kp F6        &kp F7        &kp F8        &kp F9        &kp F10           &kp LA(F6)          &kp LA(F7)          &kp LA(F8)        &kp LA(F9)           &kp LA(F10)  &trans
                                    &trans        &trans        &trans            &trans              &trans              &trans
            >;
        };

        QWERTY {
            display-name = "QWERTY";
            bindings = <
&to 0       &kp Q  &kp W  &kp E           &kp R    &kp T    &kp Y  &kp U      &kp I            &kp O    &kp P     &kp BSPC
&kp ESCAPE  &kp A  &kp S  &kp D           &kp F    &kp G    &kp H  &kp J      &kp K            &kp L    &kp SEMI  &kp ENTER
&kp TILDE   &kp Z  &kp X  &kp C           &kp V    &kp B    &kp N  &kp M      &kp COMMA        &kp DOT  &kp FSLH  &kp COLON
                          &kp LEFT_SHIFT  &kp TAB  &mo 2    &mo 1  &kp SPACE  &kp RIGHT_SHIFT
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Extra {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
